@model Technico.Main.DTOs.PropertyDtos.PropertyDtoUpdateRequest


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center mb-4">Update Property</h2>
        <form id="createPropertyForm" method="post" asp-action="Update">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter address" asp-for="Address" required>
            </div>
            <div class="mb-3">
                <label for="yearOfConstruction" class="form-label">Year of Construction</label>
                <input type="number" class="form-control" id="yearOfConstruction" placeholder="Year of Construction" asp-for="ConstructionYear" required>
            </div>
            <div class="mb-3">
                <label asp-for="Type" class="form-label">Property Type</label>
                <select class="form-select" id="propertyType" asp-for="Type" required>
                    <option value="0">Detached House</option>
                    <option value="1">Maisonet</option>
                    <option value="2">Apartment</option>
                    <option value="3">Building</option>
                </select>
            </div>

            @for (int i = 0; i < Model.OwnersIds.Count; i++)
            {
                <input type="hidden" name="OwnersIds[@i]" value="@Model.OwnersIds[i]" />
            }
            <div class="text-center">
                <button id="addPropertyBtn" type="submit" class="btn btn-primary">Update Property</button>
            </div>
            
        </form>
    </div>
</div>