@{
    ViewData["Title"] = "400 - Bad Request";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
       
        
        <h2 class="text-danger">This Vat was not found. Please try again with another Vat.</h2>
        <a href="/AdminProperty/Create" class="btn btn-primary btn-lg mt-3">
            <i class="fas fa-home mr-2"></i> Return to Create Properties
        </a>
    </div>
</div>

<!-- Optional: Font Awesome CDN for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
