@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     <button id="genericModalTrigger" class="btn btn-primary" onclick="loadModalContent('Home', 'Index')">Open Index Modal</button> <!--test buttons for modal -->
     <button id="genericModalTrigger" class="btn btn-primary" onclick="loadModalContent('Owner', 'Profile')">Open Profile Modal</button>

</div>
