@{
    ViewData["Title"] = "LogIn";
}

<div class="login-card col-4 offset-4">
    <h1 class="mb-3 text-center">Login Menu</h1>
    <form>
        <div class="form-group pb-3">
            <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group pb-3">
            <input type="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary pt-3 pb-3 col-4 offset-4">Sign In</button>
    </form>
</div>

<style>

        .login-card {
            padding: 40px;
            background-color: #fff;
            border-radius: 8px;
        }

</style>